# Multiple Linear Regression- Çoklu Doğrusal Regresyon

#### Kütüphaneleri İçeri Aktarıyoruz - Importing the libraries

In [44]:
import pandas as pd
import numpy as np

#### Veri Setimizi Çağırıyoruz- Importing the dataset

In [45]:
data = pd.read_csv('Advertising.csv')

In [46]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [12]:
data.isnull().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [14]:
data.shape

(200, 5)

In [15]:
data.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

#### Verilerin Hazırlanması- X:Bağımsız Değişken(Öznitelik) Y:Bağımlı Değişken(Etiket)

In [10]:
X = data.iloc[:, :-1].values
y = data.iloc[:, 4].values

#### Veri Setini Eğitim ve Test Seti Olarak Ayırma - Splitting the dataset into the Training set and Test set

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.30, random_state = 42)

#### Model Çağırma ve Eğitme - Training the Multiple Linear Regression model on the Training set

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
model = LinearRegression()

In [21]:
model.fit(X_train,y_train)

LinearRegression()

#### Test Setinden Satışları Tahmin Etme- Predicting the Test set results

In [23]:
y_pred = model.predict(X_test)

In [24]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred}) #Comparing the Test Set with Predicted Values
df

     Real Values  Predicted Values
0           16.9         16.564922
1           22.4         21.137841
2           21.4         21.583132
3            7.3         10.742097
4           24.7         21.607562
..           ...               ...
135          9.6          9.754146
136         18.5         18.119356
137         19.2         18.300580
138         21.2         20.302830
139         19.6         19.209003

[140 rows x 2 columns]

#### Algoritmanın Değerlendirilmesi

Regresyon algoritmaları için yaygın olarak üç değerlendirme ölçütü kullanılır. Ortalama Mutlak Hata- MAE-(Mean Absolute Error),hataların mutlak değerinin ortalamasıdır. Ortalama Kare Hata -MSE-(Mean Squared Error), karesel hataların ortalamasıdır. Ortalama Karesel Hatanın Karekökü -RMSE-(Root Mean Square Error), karesel hataların ortalamasının kareköküdür.

In [25]:
from sklearn import metrics

In [30]:
#beta 1 katsayımız-bağımsız değişkenlerin katsayısı- The coefficients
print('Coefficients: \n', model.coef_)

Coefficients:
 [-0.00187709  0.04353744  0.18790056  0.01300846]

In [32]:
#sabitimiz beta0
print('intercept:\n',model.intercept_)

intercept:
 3.0096546069756958

In [33]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 1.2905636650792087

In [34]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))

Mean Squared Error: 2.7476309296893056

In [35]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 1.6575979396974725

In [37]:
print(model.score(X_test, y_test))

0.8989910460377695

In [38]:
print(model.score(X_train, y_train))

0.8756870933615275

In [56]:
print('Coefficient of determination(R2 score): %.2f'
      % r2_score(y_test, y_pred))

Coefficient of determination(R2 score): 0.90